{{ define "posts" }}
<div class="d-flex justify-content-center">

  <div style="max-width: 1100px; width: 100%;">

    <div class="position-relative">
      <div class="pt-4 pt-md-0">

        <ul class="ps-0">
          {{ range .Paginator.Pages }}
          <li class="col-12 d-flex w-100 mb-4 pb-4 border-bottom border-light-subtle">
            <div class="col-12 d-inline-block">

              <div class="d-inline-block fs-6 fw-medium">
                <a class="p-1 link-primary text-decoration-none" href="{{ .Permalink }}">
                  {{ .Title }}
                </a>
              </div>

              <div class="col-12 d-inline-block text-secondary">
                <p class="fw-light">{{ .Summary | truncate 180 }}</p>
              </div>

              <div>
                <span class="text-body-tertiary fs-7">
                  <relative-time class="ps-1"
                    datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
                  </relative-time>
                </span>

                <span class="ps-4">
                  {{ with .Params.tags }}
                    {{ range $tag := (first 5 .) }}
                      <span class="badge bg-secondary bg-opacity-25 text-dark">
                        {{$tag}}
                      </span>
                    {{ end }}
                  {{ end }}
                </span>
              </div>

            </div>
          </li>
          {{ end }}
        </ul>

        <!-- PAGINATION -->
        <div class="text-center my-4">
          <div class="btn-group">
            {{ if .Paginator.HasPrev }}
              <a class="btn btn-outline-primary" href="{{ .Paginator.Prev.URL }}">Previous</a>
            {{ else }}
              <a class="btn btn-outline-primary disabled">Previous</a>
            {{ end }}

            {{ if .Paginator.HasNext }}
              <a class="btn btn-outline-primary px-4" href="{{ .Paginator.Next.URL }}">Next</a>
            {{ else }}
              <a class="btn btn-outline-primary disabled">Next</a>
            {{ end }}
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
{{ end }}